body{
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}
h1{
 text-align: center;
 color: rgb(0, 0, 0);
}
.t1{
 text-align: center;
}
.Datos, .Estudios, .Experiencia, .Capacitaciones, .Referencias {
 width: 50%;
 border: 2px solid black;
 padding: 20px; 
 margin: 30px auto;
 background-color: rgb(216, 227, 247);
}
.Referencias{
 text-align: justify;
 display: grid;
 grid-template-columns: 25% 25% 25% 25%;
}
.t2{
 text-align: center;
 grid-column-start:1 ;
 grid-column-end: 5;
}
.Datos label, .Estudios label, .Experiencia label, .Capacitaciones label,
.Referencias label{
 font-size: 16px;
 padding: 1px;
 display: block;
}
.Capacitaciones li{
 padding: 5px;
}
.Datos img{
 width: 120px;
 height: 160px;
 background-position: center;
}
footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 padding: 10px;
}
footer a img{
 width: 50px;
 height: 50px;
 padding: 20px;
}